DIGITAL_OCEAN_API_TOKEN="your-digital-ocean-api-token"
PUB_KEY=${HOME}/.ssh/id_rsa.pub
PVT_KEY=${HOME}/.ssh/id_rsa
SSH_FINGERPRINT=your-ssh-fingerprint
DROPLET_NAME=staging
DROPLET_REGION=nyc1
DROPLET_SIZE=s-1vcpu-1gb

#
# TERRAFORM SPECIFIC ENV VARS - EQUAL TO THE ONES ABOVE, JUST NAMED DIFFERENTLY

TF_VAR_digital_ocean_api_token=${DIGITAL_OCEAN_API_TOKEN}
TF_VAR_pub_key=${PUB_KEY}
TF_VAR_pvt_key=${PVT_KEY}
TF_VAR_ssh_fingerprint=${SSH_FINGERPRINT}
TF_VAR_droplet_name=${DROPLET_NAME}
TF_VAR_droplet_region=${DROPLET_REGION}
TF_VAR_droplet_size=${DROPLET_SIZE}
