add_header X-Frame-Options SAMEORIGIN;
add_header X-Content-Type-Options nosniff;
add_header X-XSS-Protection "1; mode=block";
add_header Content-Security-Policy "default-src 'self'; script-src 'self' 'unsafe-inline' 'unsafe-eval' https://www.google-analytics.com; img-src 'self' data: https://www.google-analytics.com; style-src 'self' 'unsafe-inline'; font-src 'self'; frame-src 'none'; object-src 'none'";

server {
  listen 443 ssl default deferred;

  ssl on;
  ssl_certificate         /etc/letsencrypt/live/{{ domain_name }}/fullchain.pem;
  ssl_certificate_key     /etc/letsencrypt/live/{{ domain_name }}/privkey.pem;
  ssl_trusted_certificate /etc/letsencrypt/live/{{ domain_name }}/fullchain.pem;

  ssl_session_cache shared:SSL:50m;
  ssl_session_timeout 5m;
  ssl_stapling on;
  ssl_stapling_verify on;

  root /home/vagrant/code/growler-friday;
  index index.php index.html index.htm;

  # Make site accessible from http://localhost/
  server_name     growlerfriday.com www.growlerfriday.com;

  location / {
    try_files $uri $uri/ /index.html;
  }
}
