server {
  listen 80 default_server;
  server_name {{ domain_name }};

  root /home/{{ user }}/code/growler-friday;
  index index.php index.html index.htm;

  location / {
    try_files $uri $uri/ /index.html;
  }
}

